
body { 
	background-color: #f8f8f8; 
	border-top: 10px solid #3f4141; 
}

h1 { 
	text-align: center; 
	font-family: abril-fatface, serif;
	font-size: 28px; 
	color: #8B4789;
    text-shadow: 3px 5px 15px #f8f8f8;
    margin: 0;
}

h2 {
	text-align: center;
	font-family: stencil-std, sans-serif;
	font-size: 24px; 
	color: #8B4789; 
}

