#content section {
	padding: 5px 15px 10px;
}

section#hello {
	padding: 25px 15px 10px;
	border-bottom:1px solid #dfdfdf;
	background: #f8f8f8;
}

section#hello img {
	-moz-transform: rotate(-2deg);
		-webkit-transform:rotate(-2deg);
		-o-transform:rotate(-2deg);
		-ms-transform:rotate(-2deg);
		box-shadow: 0 0 1em #dfdfdf;
		margin: 0 1em;
}

section#hello p {
	font-family: droid-sans, serif;
	font-size: 16px; 
}

section#vitals {
	background: #fff;
	padding: 5px 15px 10px;
	border-bottom:1px solid #dfdfdf;
	text-align: center;
}
section#vitals h2 { font-size: 18px; }
section#vitals ul { 
	list-style: none; 
	padding: 0;
}

section#howWeMet {
	background: #fff;
	padding: 5px 15px 10px;
	border-bottom:1px solid #dfdfdf;
}


section#howWeMet p {
	padding: 0 4em;
	font-family: droid-sans, serif;
	font-size: 16px; 
        line-height: 24px;
}

section#ourFairyTale { 
	background-color: #f8f8f8; 
	padding: 5px 15px 10px;
	border-bottom:1px solid #dfdfdf;
}

section#weddingVideos {
	background: #FFF;
	padding: 5px 15px 10px;
	border-bottom:1px solid #dfdfdf;
	text-align: center;		
}

section#weddingVideos .nav a { padding: 0 8px; }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#weddingVideos header {   
    margin-bottom: 25px;
}

section#weddingPhotos h2 { margin-bottom: 25px; }

section#weddingPhotos p {
	padding: 0;
	font-family: droid-sans, serif;
	font-size: 16px; 
    line-height: 24px;
	margin-bottom: 25px;
    text-align: center;
}

section#weddingPhotos #gallery { margin-top: 20px; list-style: none; margin: 0 auto; padding: 0 14px; }

section#weddingPhotos #gallery li {
    height: auto;
    max-width: auto;
/*    min-width: 150px;*/
    text-align: center;
    border-color: #f8f8f8;
    border-style: solid;
    border-width: 1px 1px 0 0;
   
    padding: 0;
}

section#weddingPhotos #gallery li img {
  vertical-align: middle;
  display: inline-block;
  width: auto;
  height: auto;
}

section#weddingPhotos #gallery .thumbnail { border: none; line-height: 190px; background-color: inherit;}
section#weddingPhotos #gallery li:hover { 
  background-color: #f8f8f8;
  cursor: pointer;
}

section#honeymoonPhotos { 
	background-color: #f8f8f8; 
	padding: 5px 15px 10px;
	border-bottom:1px solid #dfdfdf;
}

section#honeymoonPhotos .main {
    margin: 25px 15px 0 0;
}

section#honeymoonPhotos h2 { margin-bottom: 50px; }

section#ourBaby { margin-top: 25px; }

section#ourBaby h2 { 
    font-size: 20px; 
}

section#ourBaby h3 { 
    font-family: stencil-std, sans-serif;
	font-size: 16px; 
	color: #8B4789; 
    margin: 0 17px;
}

section#ourBaby #sonogram-carousel,
section#ourBaby .latest {
    margin-top:40px;   
}

section#ourBaby .carousel-caption { 
    bottom: auto; 
    top: -10px; 
    font-weight: bold;  
    font-size: 18px;
}

#myModal .baby-modal h3 {
	font-family: stencil-std, sans-serif;
	font-size: 20px; 
    padding: 0 50px;
	color: #8B4789;
    text-align: center;
}

#myModal .baby-modal img.main { display: block; margin: 0 auto; }

#myModal .item img { 
    text-align: center;
    margin: 0 auto;
}

#footer { padding: 20px 0 0 0; }