#honeymoonPhotos { 
	background-color: #f8f8f8; 
	padding: 5px 15px 10px;
	border-bottom:1px solid #dfdfdf;
    
    .main {
        margin: 25px 15px 0 0;
    }

    h2 { 
        margin-bottom: 50px; 
    }

}


