section#ourBaby {
    
    h2 {
        font-size: 20px;
        color: #9BE1FB;    
    }

    h3 {
        font-family: $sHeaderFontFamily;
        font-size: 16px; 
        color: #9BE1FB;    
        margin: 0 17px;        
    }

    #sonogram-carousel,
    .latest {
        margin-top:40px;   
    }

    .carousel-caption { 
        bottom: auto; 
        top: -10px; 
        font-weight: bold;  
        font-size: 18px;
    }

}
