#vitals {
	background: #fff;
	padding: 5px 15px 10px;
	border-bottom:1px solid #dfdfdf;
	text-align: center;    
    
    h2 { 
        font-size: 18px; 
    }

    ul { 
        list-style: none; 
        padding: 0;
    }
    
}

