#weddingVideos {
	background: #FFF;
	padding: 5px 15px 10px;
	border-bottom:1px solid #dfdfdf;
	text-align: center;
    
    header {   
        margin-bottom: 25px;
    }
    
    .nav a { 
        padding: 0 8px; 
    }
}

